.subservice-container {
  height: 100%;
  padding: 1rem;

  & i {
    color: $color-primary;
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  & .subservice-title {
    color: $color-grey-super-light;
    text-align: left;
  }

  & .subservice-desc {
    color: $color-grey-light;
    font-size: 1rem;
    text-align: justify;
  }
}
