main.ant-layout-content {
  min-height: calc(100vh - #{$footer-height});
  padding: $header-height 12.5vw 6rem 12.5vw;

  &.nice-bg {
    background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
    background-position: top center;
    background-size: cover;
  }

  &.white-bg {
    background-color: $color-white;
  }

  & .container {
    position: relative;
  }

  @include respond(phone) {
    padding: $header-height 3rem 4rem 3rem;
  }
}
